<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link rel="stylesheet" type="text/css" href="/css/homepage.css" />

</head>
<body>
        <h1>Welcome To Lesss Talk</h1>
        <a href="/login"><button class="login-btn">login</button></a>
        <a href="/register"><button class="reg-btn">register</button></a>
</body>
</html>